

.font-xs {
    font-size: 12px;
    line-height: 13.2px;
}

.font-sm {
    font-size: 14px;
    line-height: 15.6px;
}

.font-md {
    font-size: 16px;
    line-height: 18px;
}

.font-lg {
    font-size: 20px;
    line-height: 22.2px;
}