

/* Margin Bottom classes*/

.bottom8 {
    margin-bottom: 8px;
}

.bottom16 {
    margin-bottom: 16px;
}

.bottom32 {
    margin-bottom: 32px;
}

.bottom64 {
    margin-bottom: 64px;
}


/* Margin top classes*/

.top8 {
    margin-top: 8px;
}

.top16 {
    margin-top: 16px;
}

.top32 {
    margin-top: 32px;
}

.top64 {
    margin-top: 64px;
}


/* Margin left classes*/

.left4 {
    margin-left: 4px;
}

.left8 {
    margin-left: 8px;
}

.left16 {
    margin-left: 16px;
}

.left32 {
    margin-left: 32px;
}

.left64 {
    margin-left: 64px;
}


/* Margin right classes*/

.right4 {
    margin-right: 4px;
}

.right8 {
    margin-right: 8px;
}

.right16 {
    margin-right: 16px;
}

.right32 {
    margin-right: 32px;
}

.right64 {
    margin-right: 64px;
}


/* Size settings */


.width-100 {
    width: 100%;
}


.height-100 {
    height: 100%;
}


.wh-100 {
    width: 100%;
    height: 100%;
}

.extra-inputs-layout {    
    background: #e0ecec;
    padding: 16px;
}

.red {
    color: red;
}

/* Centralizing classes */
.centralize {
    display:flex;
    justify-content: center;
    align-items: center;
}


.load-full-layout {
    max-width: 650px;
    margin: 0 auto;
    background: #e4e4ff;
    padding: 32px;
}

.text-center {
    text-align: center;
}

.margin-auto {
    margin: 0 auto;
}

.alert-card-style {
    width:50%;
    margin: 0 auto;
}


.bold {
    font-weight: bold;
}



.containerStyle {
    max-width: 1280px;
    margin:0 auto;
    padding: 16px;
}

.buttonStyle {
    width: 200px;
    height: 50px;
    border: none;
    background-color: cadetblue;
    border-radius: 4px;
}


.hidden-buttons {
    max-width: 350px;
    margin: 0 auto;
    background: #e8ecef;
    padding: 16px;
    border-radius: 0px 0px 8px 8px;
}

.buttonStyle-internal {
    width: 150px;
    height: 45px;
    border: none;
    background-color: #5f9e9f;
    color:black;
    border-radius: 8px;
}


.style-input-cards {
    background: #f0f0f5;
    padding: 16px;
    border-radius: 8px;
    height: 100%;
}


.styleChurnExplanation {
    max-width: 680px;
    margin: 0 auto 32px;
    background: #f0f0f5;
    padding: 16px;
    border-radius: 8px;
    display: flex;
}

.card-left-info {
    width: 50%;
    padding: 16px;
    background: white;
    margin-right: 8px;
    border-radius: 8px;
}

.card-right-info {
    width: 50%;
    padding: 16px;
    background: white;
    margin-left: 8px;
    border-radius: 8px;
}

.navbarColor {
    background: gray;
    padding: 8px;
}

.logo-title {
    display: flex;
}

.nav-options {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

a {
    color: #dae7f5;
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #fbfbfb;
    font-weight: bold;
    text-decoration: unset;
}

.linkBorder {
    border-right: solid 1px;
    padding-right: 8px;
}

.backgroundLoaded {
    width: 650px;
    margin: 0 auto;
    background: #45968e;
    /* color: white; */
    padding: 16px;
    border-radius: 8px;
}

.white {
    color:white;
}